.center .outer-l{
	width:50%;
	height:100%;
	text-align: center;
	padding-top:4%;
	/*padding-bottom:3%;*/
	position: relative;
	
}
.center .outer-r{
	width:50%;
	height:100%;
	text-align: center;
	position: relative;
	/*padding-bottom:3%;*/
}
.photo{
	width:300px;
	height:300px;
	margin:0 auto;
	background: url(../images/yh.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.photo img{
	display: inline-block;
	width:80%;
	height:80%;
	border:1px solid #ddd;
	border-radius: 50%;
	margin:0 auto;
	margin-top:10%;
}
.center .outer-l p{
	font-family: PingFangSC-Regular;
	font-size: 36px;
	color: #666666;
	letter-spacing: 0;
	margin-top:3%;
}
.center .outer-l .operate{
	position: absolute;
	bottom:16%;
}

.outer-r .info-text{
	font-family: PingFangSC-Regular;
	font-size: 36px;
	color: #666666;
	letter-spacing: 0;
}
.outer-r .info-text span{
	color: #FF8E52;
	line-height: 50px;
}
.outer-r .inner-r{
	width:70%;
	height:70%;
	margin:0 auto;
	margin-top:20px;
}

.phone-number{
	/*width:100%;*/
	height:100%;
	border: 2px dashed #FF8E52;
	border-radius: 6px;
	display:flex;
	align-items:center;
	justify-content:center;
	font-family: PingFangSC-Regular;
	font-size: 48px;
	color: #FF8E52;
	letter-spacing: 10px;

}


.inner-r .box{
	display: inline-block;
	height:100%;
	/*width:60px;*/
	background: #FCFCFC;
	border: 2px dashed #DCDCDC;
	border-radius: 6px;
	width:21%;
	margin:0 2%;
}
.inner-r .row{
	margin-top:10px;
	margin-bottom:10px;
	height:15%;
}
.inner-r .num{
	display: inline-block;
	height:100%;
	background: #FFFFFF;
	border: 2px solid #DCDCDC;
	border-radius: 6px;
	width:29.3%;
	margin:0 2%;
	padding:0;
}
.inner-r .num button,.inner-r .box button{
	height:100%;
	width:100%;
	border:none;
	font-size: 48px;
	color:#666;
}
.inner-r .cancel{
	display: inline-block;
	height:100%;
	
	border-radius: 6px;
	padding:0 2%;
}
.inner-r .cancel div{
	width:100%;
	height:100%;
	border-radius: 6px;
	background-color: #666666;
	background-image: url(../images/icon_cx@1x.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.center .outer-r .operate{
	position: absolute;
	bottom:16%;
	
}
.center .outer-r .operate .btn1{
	background: #FF8E52;
	border-radius: 6px;.
	font-family: PingFangSC-Regular;
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 0;
	border:none;
}
